body {
    display: flex;
    flex-direction: column;
}
.pagrindine {
    display: flex;
    justify-content: center;
}

.papildomos {
    display: flex;
    flex-direction: row;
    margin-top: 50px;
}

img {
    width: 200px;
}
